<div class="categories">
<h1>Ads</h1>
<aside class ="span4 offset3">
<h3>Name:<%= @ad_post.name %></h3>
<h3>Price:<%= @ad_post.price %></h3>
<h3>Description:<%= @ad_post.description %></h3>
</aside>
</div>
